
<%- include('logreg') -%>
<div class="bg-danger" id="my">
<form action="/auth/login" method="POST">
    <div class="form-group">
        <label for="pwd">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="Email" required id="email">
      </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required id="pwd">
      </div>
      
      <div class="form-group">
        <label for="pwd">show password <i class="fa fa-eye"></i></label>
        <input type="checkbox" onclick="show()">
      </div>
      
      
      <div class="form-group">
        
        <input type="submit" class="form-control btn btn-warning" id="sub">
      </div>
</form>
</div>

<script>
    function show() {
  var x = document.getElementById("pwd");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<%- include('footer') -%>